html, body, .fill {
    height: 100%;
}

canvas {
	height: 400px;
	width: 400px;
	outline: 1px solid silver;
}

.control {
    color: #428bca;
    font-weight: bold;
}

.controls {
    padding-top: 10px;
    padding-bottom: 10px;
}

#controls td {
	padding:.3em; 
	text-align:center;
}
#controls td .btn:hover {
	background-color: #428bca;
	color: white;
}
